<!-- Figura 11 -->

<!DOCTYPE html>
<html lang="es">
<head>
    <title>404 grupo 26</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header-buttons">
            <a href="/preguntas" class="button-long green text-white">Preguntas</a>
            <a href="/preguntas/sinResponder" class="button-long green text-white">Sin responder</a>
            <a href="/usuarios" class="button-long green text-white">Usuarios</a>
        </div>

        <a href="/index"><img src="/img/logo.png" alt="" class="header-logo"></a>

        <div class="header-user">
            <img src="/usuarios/imagenPerfil" alt="Imagen de Perfil">
            <p class="titule-page text-white"> <%= nombre %> </p>
            <a href="/loginout/logout" class="button red text-white">Cerrar sesión</a>
        </div>
    </div>
    <div class="container">
        <div class="search-container">
            <form action="/preguntas/busqueda" method="post" class="formSearch">
                <input type="submit" class="button-special green text-white" value="Buscar">
                <input type="text" name="busqueda" id="" class="search">
            </form>
        </div>

        <div class="title big spaced">
            <%= titulo %>
        </div>

        <div class="search-user-container">
            <form action="/usuarios/busqueda" method="post" class="formSearch">
                <input type="submit" class="button-special green text-white" value="Filtrar">
                <input type="text" name="busqueda" id="" class="search-user" placeholder="Filtrar por usuario">
            </form>
        </div>
        <div class="spaced"></div>

        <div class="users-container">
            <% usuarios.forEach(usuario => { %>
            <div class="filter-user">
                <img src="/usuarios/imagen/<%= usuario.id %>" alt="" class="spaced-form img-user">
                <p class="spaced-form"><%= usuario.nombre %></p>
                <p class="spaced-form"><%= usuario.reputacion %></p>
                <% if (etiquetas[usuario.id] !== undefined){ %>
                <% let ruta = "/preguntas/etiquetadas/" + etiquetas[usuario.id].etiqueta; %>
                <a href=<%= ruta %> class="filter-tag green text-white"><%=etiquetas[usuario.id].etiqueta %></a>
                <% }; %>
            </div>
            <% }); %>
        </div>
    </div>
    

</body>
</html>