<!-- Figura 4-->

<!DOCTYPE html>
<html lang="es">
<head>
    <title>404 grupo 26</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header-buttons">
            <a href="/preguntas" class="button-long green text-white">Preguntas</a>
            <a href="/preguntas/sinResponder" class="button-long green text-white">Sin responder</a>
            <a href="../usuarios/usuarios.html" class="button-long green text-white">Usuarios</a>
        </div>

        <a href="../index.html"><img src="/img/logo.png" alt="" class="header-logo"></a>

        <div class="header-user">
            <img src="/img/users/U1.png" alt="">
            <p class="titule-page text-white">Midoriya I.</p>
            <a href="../loginout/login.html" class="button red text-white">Cerrar sesión</a>
        </div>
    </div>

    <div class="container">
        <div class="search-container">
            <form action="/preguntas/busqueda" method="post" class="formSearch">
                <input type="submit" class="button-special green text-white" value="Buscar">
                <input type="text" name="busqueda" id="" class="search">
            </form>
        </div>

        <div class="title big spaced">
            <%= titulo %>
        </div>

        <div class="n-question">
            <p><%= preguntas.length %> preguntas</p>
            <a href="/preguntas/formular" class="button-long-special green text-white">Formular una pregunta</a>
        </div>
        
        <div class="question-container">
            <% preguntas.forEach(preg =>{ %>
            <div class="unanswered-container">
                <div class="unanswered">
                    <div class="normal">
                        <%= preg.titulo %>
                    </div>
                    <div class="answer-question-text very-small">
                        <%= preg.cuerpo %>
                    </div>
                    <div>
                        <%if(etiquetas[preg.id] != undefined){ %>
                            <% etiquetas[preg.id].forEach(etiq =>{ let ruta = "/preguntas/etiquetadas/" + etiq; %>
                            <a href=<%=ruta%>  class="tag green text-white"><%=etiq%></a>
                            <% }); %>
                        <% }; %>
                    </div>
                </div>
                <div class="info-container">
                    <div class="userquestion-info">
                        <p class="small">Formulada el <%= preg.fecha.getDate() %>/<%= preg.fecha.getMonth()+1 %>/<%= preg.fecha.getFullYear() %> </p>
                        <img src= <%= preg.imagen %> alt="">
                        <p class="very-small"><%= preg.nombre %></p>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>