<!-- Figura 4-->

<!DOCTYPE html>
<html lang="es">
<head>
    <title>404 grupo 26</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/img/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header-buttons">
            <a href="../preguntas/preguntas.html" class="button-long green text-white">Preguntas</a>
            <a href="../sinresponder/sinresponder.html" class="button-long green text-white">Sin responder</a>
            <a href="../usuarios/usuarios.html" class="button-long green text-white">Usuarios</a>
        </div>

        <a href="../index.html"><img src="/img/logo.png" alt="" class="header-logo"></a>

        <div class="header-user">
            <img src="/img/users/U1.png" alt="">
            <p class="titule-page text-white">Midoriya I.</p>
            <a href="../loginout/login.html" class="button red text-white">Cerrar sesión</a>
        </div>
    </div>

    <div class="container">
        <div class="search-container">
            <a href="" class="button-special green text-white">Buscar</a>
            <input type="text" name="" id="" class="search">
        </div>

        <div class="title big spaced">
            Todas las preguntas
        </div>

        <div class="n-question spaced">
            <p><%= preguntas.length %> preguntas</p>
            <a href="formular.html" class="button-long-special green text-white">Formular una pregunta</a>
        </div>
        
        <div class="question-container">
            <% preguntas.forEach(preg =>{ %>
            <div class="unanswered-container">
                <div class="unanswered">
                    <div class="normal">
                        <%= preg.titulo %>
                    </div>
                    <div class="answer-question-text very-small">
                        <%= preg.cuerpo %>
                    </div>
                    <div>
                        <%if(etiquetas[preg.id] != undefined){ %>
                            <% etiquetas[preg.id].forEach(etiq =>{ %>
                            <a href="etiquetadas.html"  class="tag green text-white"><%=etiq%></a>
                            <% }); %>
                        <% }; %>
                    </div>
                </div>
                <div class="info-container">
                    <div class="userquestion-info">
                        <p class="small">Formulada el <%= preg.fecha %></p>
                        <img src= <%= preg.imagen %> alt="">
                        <p class="very-small"><%= preg.nombre %></p>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>